 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Pre-Final year student at LNM Institute of Information Technology, Jaipur. I am currently pursuing B.Tech in Computer Science and Engineering. I have some knowledge in programming languages like C, C++, C#, Java and Python,have experience with Unity3D and have basic knowledge in Android Application Development and Web Development</p>
                </div>
                <div class="col-lg-4">
                    <p>I am highly interested in Game Development and Programming have made some games using Unity3D Game Engine. I am aspiring to be a Game Programmer and would like to get further in this field</p> 
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/open?id=1H3iKxgNpm2C2Ww6dbv6MNsaeAmJRvF05" class="btn btn-lg btn-outline">
                        View Résumé
                    </a>
                </div>
            </div>
        </div>
    </section>
